@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');

body{
    font-family: "Rubik", sans-serif;
    color: #F9F9F9;
}
   
.container{
    position: relative;
    display: flex;
    flex-direction: row;
}

.board{
    display: flex;
    width: 40vw;
    height: 40vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(107, 94, 129, 0.5);
}

.tile[data-val="2"],
.tile[data-val="4"] {
    color: #A7ECEE;
}

.tile[data-val="128"],
.tile[data-val="256"],
.tile[data-val="512"] {
    font-size: 45px;
}

.tile[data-val="1024"],
.tile[data-val="2048"] {
    font-size: 33px;
}

.tile[data-val="4"] {
    background: #99DBF5;
}

.tile[data-val="8"] {
    background: #7358e0;
}

.tile[data-val="16"] {
    background: #465BC2;
}

.tile[data-val="32"] {
    background: #596ce1;
}

.tile[data-val="64"] {
    background: #5DA2DE;
}

.tile[data-val="128"] {
    background: #47b8c2;
}

.tile[data-val="256"] {
    background: #4FF5BA;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}

.tile[data-val="512"] {
    background: #46f569;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}

.tile[data-val="1024"] {
    background: #73cf00;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
}

.tile[data-val="2048"] {
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}